---
feature_name: VS-C4 内部ファイル管理
icon_url: icon.png
index: index.html
parent_url: maintenance.html
parent_label: メンテナンス
---

{% include_relative _includes/intro.html %}

<section class="page-guide caution-guide">
    <span class="eyebrow">本体メンテナンス</span>
    <h2>VS-C4内部のファイルを管理します</h2>
    <p>通常の設定作業では使用しません。内容と影響が分かるファイルだけを操作してください。</p>
    <a href="help.html#files">ファイル管理の注意点を確認</a>
</section>

<!-- Base on https://www.html5rocks.com/en/tutorials/file/dndfiles// -->
<div id="divBtConn">
    <button id="btConn">VS-C4に接続</button><br>
    <small><i>更新のために接続する前に、VS-C4からすべてのコントローラーを切断してください。</i></small>
</div>
<div id="divInfo" style="display:none;margin-bottom:1em;"></div>
<div id="divFile" style="display:none;margin-bottom:1em;"></div>


{% include output_helper.html %}

<script src='sql.js/sql-wasm.js'></script>
<script type="module">
  import { btConn } from './files.js';

  document.getElementById("btConn").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      btConn();
    }
  });
</script>

{% include_relative _includes/utils.html %}
