---
feature_name: VS-C4 N64 コントローラーパック管理
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<div class="doc-link-panel">
    <p><strong>このページの説明</strong><br>
    <a href="help.html#n64-ctrlpak">N64 コントローラーパック管理の使い方</a></p>
</div>

<!-- Base on https://www.html5rocks.com/en/tutorials/file/dndfiles// -->
<div id="divBtConn">
    <button id="btConn">VS-C4に接続</button><br>
    <small><i>パック管理のために接続する前に、VS-C4からすべてのコントローラーを切断してください。</i></small>
</div>
<div id="divInfo" role="status" aria-live="polite" style="display:none;margin-bottom:1em;"></div>
<div id="divFileSelect" style="display:none;margin-bottom:1em;">
    コントローラーパックのバンクを選択:
    <select id="pakSelect">
        <option value="0">Pak 1</option>
        <option value="1">Pak 2</option>
        <option value="2">Pak 3</option>
        <option value="3">Pak 4</option>
    </select><br><br>
    <button id="btnPakRead">読み出し</button><br><br>
    <button id="btnPakFormat">初期化</button><br><br>
    <button id="btnPakWrite">書き込み</button>
    書き込む .MPK ファイルを選択:
    <input type="file" id="pakFile"/><br><br>
    .MPK ファイルの内容管理には <a href=https://bryc.github.io/mempak target="_blank">mempak</a> を使用できます。
</div>
<div id="divFileTransfer" style="display:none;margin-bottom:1em;">
    <div id="progress_bar" role="progressbar" aria-label="コントローラーパック転送の進捗" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="percent">0%</div></div>
    <button id="btnFileTransferCancel">キャンセル</button>
</div>

{% include output_helper.html %}

<script type="module">
  import { btConn, pakRead, pakWrite, pakFormat, abortFileTransfer } from './n64_ctrlpak.js';

  document.getElementById("btnPakRead").addEventListener('click', pakRead);
  document.getElementById("btnPakWrite").addEventListener('click', pakWrite);
  document.getElementById("btnPakFormat").addEventListener('click', pakFormat);
  document.getElementById("btnFileTransferCancel").addEventListener('click', abortFileTransfer);
  document.getElementById("btConn").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      btConn();
    }
  });
</script>

{% include_relative _includes/utils.html %}
