---
feature_name: VS-C4 システムマネージャー
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<p align="center"><a href="https://blueretro.com/products/brx"><img src="brx_banner.png"/></a></p><br>

ドキュメント（Wiki）を参照してください:<br>
<a href="https://github.com/darthcloud/BlueRetro/wiki/BlueRetro-BLE-Web-Config-User-Manual#4---system-manager-page" target="_blank">4 - システムマネージャーページ</a><br><br>

<!-- Base on https://www.html5rocks.com/en/tutorials/file/dndfiles// -->
<div id="divBtConn">
    <button id="btConn">VS-C4に接続</button><br>
    <small><i>設定のために接続する前に、VS-C4からすべてのコントローラーを切断してください。</i></small>
</div>
<div id="divInfo" style="display:none;margin-bottom:1em;"></div>
<div id="divSleep" style="display:none;margin-bottom:1em;">
    <button id="btnSleep">Deep Sleepにする</button>
</div>
<div id="divReset" style="display:none;margin-bottom:1em;">
    <button id="btnReset">リセット</button>
</div>
<div id="divFactory" style="display:none;margin-bottom:1em;">
    <button id="btnFactory">出荷時リセット</button>
</div>


{% include output_helper.html %}

<script type="module">
  import { btConn, setDeepSleepEvent, setResetEvent, setFactoryResetEvent } from './system.js';

  document.getElementById("btnSleep").addEventListener('click', setDeepSleepEvent);
  document.getElementById("btnReset").addEventListener('click', setResetEvent);
  document.getElementById("btnFactory").addEventListener('click', setFactoryResetEvent);
  document.getElementById("btConn").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      btConn();
    }
  });
</script>

{% include_relative _includes/utils.html %}
